body {
  background-color: #2B3A55;

}

.container {
  display: flex;
  justify-content: center;
  background-color: #F2E5E5;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background-color: #F2E5E5;
  align-self: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;

}


.button {
  font-family: 'Roboto', sans-serif;
  border: none;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  background-color: #2B3A55;
  align-self: center;
  color: #fff;
  padding: 10px;
}
.previous {
  font-family: 'Roboto', sans-serif;
  border: none;
  font-size: 22px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #2B3A55;
  color: #fff;
  padding: 10px;
  width: 190px;

}
.next {
  font-family: 'Roboto', sans-serif;
  border: none;
  font-size: 22px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #2B3A55;
  color: #fff;
  padding: 10px;
  width: 120px;

}


h1 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 35px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #003b58
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #003b58
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #003b58
}